.blog-post {
  margin-bottom: 2rem;

  .blog-post-title {
    margin-bottom: .25rem;
    a {
      text-decoration: none;
      font-style: italic;
    }
  }

  .blog-post-meta {
    margin-bottom: 1.25rem;
    color: #727272;

    a {
      text-decoration: none;
    }
  }

}

.blog-pagination {
  display: flex;
  justify-content: center;

  a {
    margin: 0 1rem;
  }
  
}