.blog-post {
  margin-bottom: 4rem;
}
.blog-post-title {
  margin-bottom: .25rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

.blog-pagination {
  display: flex;
  justify-content: center;

  a {
    margin: 0 1rem;
  }
  
}