.toggle-theme:hover {
  cursor: pointer;
}

body.dark *{
  background-color: $dark-primary;
  color: $dark-secondary;

  h1, h2, h3, h4, h5, h6 {
    a {
      color: $dark-secondary !important;
    }
  }

  .position-sticky .p-4, .blog-footer {
    background-color: $dark-primary !important;
  }

  .card, .ais-Hits-item {
    border: 1px solid;
    border-radius: 5px;
  }

  a.link-secondary {
    text-decoration: none;
  }
  a.link-secondary.active, a.link-secondary:hover {
    text-decoration: underline;
    color: $dark-secondary;
  }

  .btn-primary, .btn-outline-primary:hover{
    background-color: $primary;
  }
  .btn-outline-primary svg {
    background: none;
  }

  .to-top {
    background-color: $dark-secondary;
    svg {
      background-color: $dark-secondary;
      path {
        color: $dark-primary;
      }
    }
  }
  
  .search-box {
    background-color: $dark-secondary;
    svg, input, .ais-PoweredBy, .ais-PoweredBy * {
      background: none;
      color: $dark-primary;
    }
    svg * {
      color: $dark-primary;
    }
    input:focus {
      outline: none;
    }
  }

  #staticBackdrop {
    background: none;
    input#email {
      color: $dark-primary;
      background-color: $dark-secondary;
    }
  }
}