.blog-footer {
  padding: 2.5rem 0;
  color: $secondary;
  text-align: center;
  border-top: .05rem solid #e5e5e5;
  
  p:last-child {
    margin-bottom: 0;
  }

  .to-top {
    position: absolute;
    right: 0;
    border-radius: 50px 0 0;

    svg {
      position: relative;
      top: .25rem;
      left: .15rem;
    }
  }
}
