h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif;
  color: $primary;
  a {
    text-decoration: none;
  }
}

::selection {
  background-color: $primary;
  color: $white;
}