//Here you can customize bootstrap

// Variables
$primary: #1c0a7e;
$secondary: #787A91;

$dark-primary: #050311;
$dark-secondary: #e5e5e5;

// Imports
@import "~bootstrap/scss/bootstrap";

@include media-breakpoint-only(md) {
  .container {
    max-width: 775px;
  }
}

::selection {
  background-color: $primary;
  color: whitesmoke;
}

// Custom Styles
@import "header";
@import "pagination";
@import "blog-post";
@import "modals";
@import "badges";
@import "cards";
@import "social";
@import "footer";
@import "darkmode";