// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$body-bg: #f8f6f3;
$primary: #2a4234;
$secondary: #787A91;

// 3. Include remainder of required Bootstrap stylesheets
@import "../../node_modules/bootstrap/scss/bootstrap-utilities";
@import "../../node_modules/bootstrap/scss/variables";
@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/bootstrap-grid";

// 4. Include any optional Bootstrap components as you like
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/images";
@import "../../node_modules/bootstrap/scss/containers";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/close";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/forms";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/pagination";

// Custom Styles
@import "typography";
@import "header";
@import "featured-cards";
@import "pagination";
@import "modals";
@import "badges";
@import "cards";
@import "footer";
@import "search";
@import "social";
@import "footnotes";